{% load i18n %}
	
	<footer class="everi_footer" id="index_footer" style="background:none; border:0px;">
		<ul style="text-align: center;">
			<li><a href="/about/">{% trans 'About Everipedia' %}</a></li>
            <li><a href="/howto/">{% trans 'How To Use' %}</a></li>
			<li><a href="/wiki/everipedia-faq/">{% trans 'FAQ' %}</a></li>
			<li><a href="/contact/">{% trans 'Contact' %}</a></li>
			<li><a href="/wiki/everipedia-terms/">{% trans 'Terms' %}</a></li>
            <li><a rel="nofollow" href="https://www.reddit.com/r/Everipedia/">{% trans 'Forum' %}</a></li>
			<li><a rel="nofollow" href="/exchange-listings/">{% trans 'Get IQ' %}</a></li>
            <!--<li><a href="/donate/"><img class='bitcoin-footer-logo' src="https://epcdn-vz.azureedge.net/static/images/bitcoin-icon.svg"/>{% trans 'Donate' %}</a></li>-->

            <li><a rel='nofollow' href="#" data-featherlight="#ll1"><img class="footer-lang-flag" alt='Language' height="21px" width="21px" src="https://epcdn-vz.azureedge.net/static/images/flags/png/48/languages/{{ LANGUAGE_CODE }}.png"></a></li>
			<li>© 2018 Everipedia International</li>
			<li><div class="footer-social"><a href="http://facebook.com/everipedia" style="background-image:url('https://epcdn-vz.azureedge.net/static/images/fb-icon.png');"></a><a href="http://twitter.com/everipedia" style="background-image:url('https://epcdn-vz.azureedge.net/static/images/tw-icon.png');"></a></li>
		</ul>
	</footer>


	<footer class="mobile_footer" style="border:0px;">
		<ul style="text-align: center;">
			<li><a href="/about/">{% trans 'About' %}</a></li>
            <li><a href="/howto/">{% trans 'How To Use' %}</a></li>
			<li><a href="/wiki/everipedia-faq/">{% trans 'FAQ' %}</a></li>
			<li><a href="/contact/">{% trans 'Contact' %}</a></li>
			<li><a href="/wiki/everipedia-terms/">{% trans 'Terms' %}</a></li>
            <li><a rel="nofollow" href="https://www.reddit.com/r/Everipedia/">{% trans 'Forum' %}</a></li>
			<li><a rel="nofollow" href="/exchange-listings/">{% trans 'Get IQ' %}</a></li>
            <!--<li><a href="/donate/"><img class='bitcoin-footer-logo' src="https://epcdn-vz.azureedge.net/static/images/bitcoin-icon.svg"/>{% trans 'Donate' %}</a></li>-->

            <li><a rel='nofollow' href="#" data-featherlight="#ll1"><img class="footer-lang-flag" alt='Language' height="21px" width="21px" src="https://epcdn-vz.azureedge.net/static/images/flags/png/48/languages/{{ LANGUAGE_CODE }}.png"></a></li>
			<li>© 2018 Everipedia International</li>
		</ul>
	</footer>

