{% load i18n %}
<div class="lightbox" id="fl5">
<div class="createpage-field">
<form action="/messages/create_message/" method="post" class="search" name="createpagefield" id="createpagefield">
    {% csrf_token %}
    <input placeholder="{% trans 'Enter a title for the thread' %}." name="SearchBox" id="CreateBox" autocomplete="off" type="text" value="" style="border:0px;">
    <button type="submit" value="search" class="icon-search btn btn-md btn-default">{% trans 'Create New Thread' %}</button>
</form>
</div>
</div>

<script>
    $( ".thread-remove-thread" ).click(function() {
        var forumThreadID = $(this).attr("data-thread");
        alert('need to fix this ajax');
        $.ajax({
            type: "GET",
            url: "/AJAX-REQUEST/AJAX_Remove_Thread/" + forumThreadID + "/",
            beforeSend: function (data) {
                $("body").css("cursor", "progress");
            },
            success: function (data) {
                $("#thread-" + forumThreadID).fadeOut( "slow", function() {
                    $("#thread-" + forumThreadID).remove();
                });
                $("body").css("cursor", "default");
            }
        });
    });
    document.querySelector('head').innerHTML += '<link href="https://epcdn-vz.azureedge.net/static/css/featherlight-min-css.css" rel="stylesheet">';
</script>