<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BANNED</title>
    <style>
        h1, h3, img{
            text-align: center;
        }

        img{
            margin: 0 auto;
        }
        .image-holder{
            float: left;
            width: 100%;
            text-align: center;
        }

    </style>
</head>
<body>
    <h1>BANDITS WILL BE BANNED</h1>
    <h3>Your IP address has been banned. If you feel this is an error, please contact us at webmaster@everipedia.com</h3>
    <div class="image-holder">
        <img src="https://epcdn-vz.azureedge.net/static/images/banned_bat.gif">
    </div>
    {% include 'enterlink/headers/extra-analytics-right-before-body-end.html' %}
</body>
</html>