<!DOCTYPE html>

{% load i18n %}
<html>
    <head>
 
    <title>{% trans 'Exchange Listings' %} - {% trans "Everipedia, the encyclopedia of everything" %}</title>
    <!-- ' -->
    <meta name="description" content=" Everipedia is the world’s largest collection of hyperlinks grouped by identity. ">
	<link rel="canonical" href="https://everipedia.org/exchange-listings/" />
	<!--- Include Header -->
	{% include "enterlink/headers/header-common.html" %}{% include "enterlink/headers/header-navbar.html" %}
    <link href="/static/css/exchange-listings.css" rel="stylesheet">
</head>
<body>
	<div class="exchanges-ct tablet-compatible">
        <h1 class="exchange-heading">{% trans 'Supported Exchanges' %}</h1>
        <!--<h5 class="exchange-subheading">{% trans 'The following exchanges indicated that they will support the IQ airdrop' %}:</h5>-->
        <ul class="exchange-list">
            <!--<li class="exchange-row">-->
                <!--<a class="exchange-link" href="https://www.bancor.network/">-->
                    <!--<div class="logo-wrap">-->
                        <!--<img class="exchange-logo" src="https://epcdn-vz.azureedge.net/static/images/bancor.svg">-->
                    <!--</div>-->
                <!--</a>-->
            <!--</li>-->
            <li class="exchange-row">
                <a class="exchange-link" href="https://eos.bancor.network">
                    <div class="logo-wrap">
                        <img class="exchange-logo" src="https://eos.bancor.network/static/images/logo.png">
                    </div>
                </a>
            </li>
            <li class="exchange-row" style="background: rebeccapurple;">
                <a class="exchange-link" href="https://big.one/trade/IQ-EOS">
                    <div class="logo-wrap">
                        <img class="exchange-logo" src="https://epcdn-vz.azureedge.net/static/images/bigone.svg">
                        <span class="exchange-text">BigONE</span>
                    </div>
                </a>
            </li>
            <li class="exchange-row">
                <a class="exchange-link" href="https://www.bitfinex.com/">
                    <div class="logo-wrap">
                        <img class="exchange-logo" src="https://epcdn-vz.azureedge.net/static/images/bitfinex.png">
                    </div>
                </a>
            </li>
            <!--<li class="exchange-row">-->
                <!--<a class="exchange-link" href="https://www.binance.com/">-->
                    <!--<div class="logo-wrap">-->
                        <!--<img class="exchange-logo" src="https://epcdn-vz.azureedge.net/static/images/binance.svg">-->
                    <!--</div>-->
                <!--</a>-->
            <!--</li>-->
            <!--<li class="exchange-row" style="background: black;">-->
                <!--<a class="exchange-link" href="https://ceo.bi/">-->
                    <!--<div class="logo-wrap">-->
                        <!--<img class="exchange-logo" src="https://epcdn-vz.azureedge.net/static/images/ceobi.png">-->
                    <!--</div>-->
                <!--</a>-->
            <!--</li>-->
            <li class="exchange-row">
                <a class="exchange-link" href="https://chaince.com/trade/iqeos">
                    <div class="logo-wrap">
                        <img class="exchange-logo" src="https://epcdn-vz.azureedge.net/static/images/chaince.png">
                    </div>
                </a>
            </li>
            <li class="exchange-row">
                <a class="exchange-link" href="https://cryptowolf.eu/">
                    <div class="logo-wrap">
                        <img class="exchange-logo" src="https://cryptowolf.eu/wp-content/uploads/2018/09/cropped-WebsiteLogo.png">
                    </div>
                </a>
            </li>
            <li class="exchange-row">
                <a class="exchange-link" href="https://coinex.com/">
                    <div class="logo-wrap">
                        <img class="exchange-logo" src="https://epcdn-vz.azureedge.net/static/images/coinex.png">
                    </div>
                </a>
            </li>
            <li class="exchange-row" style="rgb(20, 26, 42);">
                <a class="exchange-link" href="https://eosdaq.com/exchange/IQ_EOS">
                    <div class="logo-wrap">
                        <img class="exchange-logo" src="/static/images/dexeos.png">
                    </div>
                </a>
            </li>
            <li class="exchange-row" >
                <a class="exchange-link" href="https://dragonex.io/trade/index/iq_eth">
                    <div class="logo-wrap">
                        <img class="exchange-logo" style="width: 90px;" src="https://epcdn-vz.azureedge.net/static/images/dragonex.png">
                    </div>
                </a>
            </li>
            <li class="exchange-row" style="background: #24272d;">
                <a class="exchange-link" href="https://eosex.com/#/exchange/IQEOS">
                    <div class="logo-wrap">
                        <img class="exchange-logo" src="/static/images/eosdaq.png">
                    </div>
                </a>
            </li>
            <li class="exchange-row">
                <a class="exchange-link" href="https://gate.io/trade/IQ_ETH">
                    <div class="logo-wrap">
                        <img class="exchange-logo" src="https://epcdn-vz.azureedge.net/static/images/gateio.svg">
                    </div>
                </a>
            </li>
            <!--<li class="exchange-row">-->
                <!--<a class="exchange-link" href="https://www.gdex.io/">-->
                    <!--<div class="logo-wrap">-->
                        <!--<img class="exchange-logo" style="width: 90px;position: relative;top: -2px;" src="https://epcdn-vz.azureedge.net/static/images/gdex.png">-->
                        <!--<span class="exchange-text" style="color:black; font-weight: bold;">GDEX</span>-->
                    <!--</div>-->
                <!--</a>-->
            <!--</li>-->
            <!--<li class="exchange-row">-->
                <!--<a class="exchange-link" href="https://www.huobipro.com">-->
                    <!--<div class="logo-wrap">-->
                        <!--<img class="exchange-logo" src="https://epcdn-vz.azureedge.net/static/images/huobi.png">-->
                    <!--</div>-->
                <!--</a>-->
            <!--</li>-->
            <!--<li class="exchange-row">-->
                <!--<a class="exchange-link" href="https://kkex.com">-->
                    <!--<div class="logo-wrap">-->
                        <!--<img class="exchange-logo" src="https://epcdn-vz.azureedge.net/static/images/kkex.png">-->
                    <!--</div>-->
                <!--</a>-->
            <!--</li>-->
            <!--<li class="exchange-row">-->
                <!--<a class="exchange-link" href="https://support.okex.com/hc/en-us/articles/360007190832-Distribution-of-HORUS-CHL-IQ-Bonuses">-->
                    <!--<div class="logo-wrap">-->
                        <!--<img class="exchange-logo" src="https://epcdn-vz.azureedge.net/static/images/okex.svg">-->
                    <!--</div>-->
                <!--</a>-->
            <!--</li>-->
            <li class="exchange-row">
                <a class="exchange-link" href="https://bb.otcbtc.com/exchange/markets/iqeos">
                    <div class="logo-wrap">
                        <img class="exchange-logo" src="https://epcdn-vz.azureedge.net/static/images/otcbtc.png">
                    </div>
                </a>
            </li>
            <li class="exchange-row">
                <a class="exchange-link" href="https://upbit.com/exchange?code=CRIX.UPBIT.KRW-IQ">
                    <div class="logo-wrap">
                        <img class="exchange-logo" src="https://epcdn-vz.azureedge.net/static/images/upbit.png">
                    </div>
                </a>
            </li>
            <li class="exchange-row" style="background: #00101c">
                <a class="exchange-link" href="https://www.whaleex.com/whaleex/dash/trade/IQ_EOS">
                    <div class="logo-wrap">
                        <img class="exchange-logo" src="https://epcdn-vz.azureedge.net/static/images/whalex.png">
                    </div>
                </a>
            </li>
        </ul>
        <h5 class="exchange-subheading wallet-heading">{% trans 'Supported Wallets' %}:</h5>
        <ul class="exchange-list">
            <li class="exchange-row">
                <a class="exchange-link" href="https://eos.live/">
                    <div class="logo-wrap">
                        <img class="exchange-logo" style="width: 145px;" src="https://epcdn-vz.azureedge.net/static/images/eos_live.png">
                    </div>
                </a>
            </li>
            <li class="exchange-row">
                <a class="exchange-link" href="https://greymass.com/">
                    <div class="logo-wrap">
                        <img class="exchange-logo" style="width: 145px;" src="https://epcdn-vz.azureedge.net/static/images/greymass.png">
                    </div>
                </a>
            </li>
            <li class="exchange-row" style="background: #040e1e;">
                <a class="exchange-link" href="https://www.hyperpay.tech/">
                    <div class="logo-wrap">
                        <img class="exchange-logo" style="width: 150px;" src="https://epcdn-vz.azureedge.net/static/images/hyperpay.svg">
                    </div>
                </a>
            </li>
            <li class="exchange-row" style="background: #ffffff;">
                <a class="exchange-link" href="https://meet.one/">
                    <div class="logo-wrap">
                        <img class="exchange-logo" style="width: 55px;position: relative;left: -5px;" src="https://static.ethte.com/meet/static/images/logo-black-d7fd3f3ed38d7e1692d3d5267ac5f303.png">
                        <span class="exchange-text" style="color: #000000; right: 0px; font-size: 14px; top: 0px;">MEET.ONE</span>
                    </div>
                </a>
            </li>
            <li class="exchange-row">
                <a class="exchange-link" href="http://more.one/">
                    <div class="logo-wrap">
                        <img class="exchange-logo" style="width: 70px;" src="https://epcdn-vz.azureedge.net/static/images/more_one.png">
                    </div>
                </a>
            </li>
            <li class="exchange-row" style="background: #8555ee;">
                <a class="exchange-link" href="http://eosnova.io/">
                    <div class="logo-wrap">
                        <img class="exchange-logo" style="width: 70px;" src="https://epcdn-vz.azureedge.net/static/images/nova_io.png">
                    </div>
                </a>
            </li>
            <li class="exchange-row" style="background: #42709f;">
                <a class="exchange-link" href="https://tokenpockets.com/">
                    <div class="logo-wrap">
                        <img class="exchange-logo" style="width: 55px;position: relative;left: -5px;" src="https://epcdn-vz.azureedge.net/static/images/tokenpockets.svg">
                        <span class="exchange-text" style="right: 10px; font-size: 13px; top: 0px;">{% trans 'Token Pockets' %}</span>
                    </div>
                </a>
            </li>
            <li class="exchange-row">
                <a class="exchange-link" href="https://wallet.wannabit.io">
                    <div class="logo-wrap">
                        <img class="exchange-logo" style="width: 145px;" src="https://wallet.wannabit.io/assets/imgs/common/wannabit_bklogo@2x.png">
                    </div>
                </a>
            </li>
        </ul>
        <h5 class="exchange-subheading wallet-heading">{% trans 'Tools' %}:</h5>
        <ul class="exchange-list">
            <li class="exchange-row">
                <a class="exchange-link" href="https://cpuemergency.com/everipedia.html">
                    <div class="logo-wrap">
                        <img class="exchange-logo" style="width: 145px;" src="/static/images/cpu_emergency.svg">
                    </div>
                </a>
            </li>
        </ul>
	</div>

    <!--- Everipedia Footer -->
    {% include "enterlink/footers/footer.html" %}
    {#{% include "enterlink/footers/deferredJS.html" %}#}
    {% include 'enterlink/inline-css/application.html' %}
    {% include 'enterlink/headers/extra-analytics-right-before-body-end.html' %}
</body>
</html>