<!DOCTYPE html>

{% load i18n %}
<html>
    <head>
    <link rel="canonical" href="https://everipedia.org/login/" />
    <title>{% trans "Sign in" %} - {% trans "Everipedia, the encyclopedia of everything" %}</title>
        
    <meta name="description" content=" Everipedia is the world’s largest collection of hyperlinks grouped by identity. ">
    
 	<!--- Include Header -->
	{% include "enterlink/headers/header-common.html" %}{% include "enterlink/headers/header-navbar.html" %}
	
    <link href="/static/css/login_register.css" rel="stylesheet">
</head>




<body style="background-color:#FAFAFA;">
	
		<div class="login-ct">
		  <div class="container-content-middle">
		    <form id="login_form" method="post" action="" role="form" autocomplete="on" class="m-x-auto text-center app-login-form">
			{% csrf_token %}
				
				<img class="login-logo hidden-xs" src="https://epcdn-vz.azureedge.net/static/images/Everipedia_Logo.svg"/>
                <h1>{%  trans 'Sign in to Everipedia' %}</h1>
                <div style="margin: -10px 0px 10px 0px; color: #d56464; font-size: 12px;">{{ errorMessage }}</div>

                <div class="scatter-bar">
                    <a class='scatter-anchor' href="https://github.com/GetScatter/ScatterDesktop/releases">
                        <img class="line-logo" src="https://epcdn-vz.azureedge.net/static/images/scatter.png" />
                        <span class="line-text">{% trans 'Get Scatter' %}</span>
                    </a>
                </div>

                <div class="oreid-bar">
                    <a href="https://aikon.com/ore-id">
                        <img class="line-logo" src="/static/images/oreid.svg" />
                        <span class="line-text">{% trans 'ORE ID Logins' %}</span>
                    </a>
                </div>
                <a class="fb_login social-login" rel="nofollow" href="/AJAX-REQUEST/AJAX_OREID_Auth/?provider=facebook&source_url={{ request.path }}"><div>{% trans 'Use Facebook' %}</div></a>
                <a class="tw_login social-login" rel="nofollow" href="/AJAX-REQUEST/AJAX_OREID_Auth/?provider=twitter&source_url={{ request.path }}"><div>{% trans 'Use Twitter' %}</div></a>

		        <input type="hidden" name="next" value="{{next}}" />
		
		    </form>
		  </div>
		</div>
		



<!--- Everipedia Footer -->
{% include "enterlink/footers/footer.html" %}
{#{% include "enterlink/footers/deferredJS.html" %}#}
{% include 'enterlink/inline-css/application.html' %}
{% include 'enterlink/headers/extra-analytics-right-before-body-end.html' %}
</body>
</html>