{% load i18n %}
<script type="text/javascript" src="https://epcdn-vz.azureedge.net/static/js/jquery.js"></script>
<script src="/static/js/jquery-qrcode-0.14.0.min.js"></script>
<div rel='nofollow' id="shareURL_QR" onclick="printImg();" class="copyURL-btn embedURL-btn shareURL-btn-qr btn-default btn" target="_blank">

</div>

<script>
        function printImg() {
        var theSrc = $("#shareURL_QR img").attr('src');
        var pwin = window.open(theSrc,"_blank");
        pwin.onload = function () {window.print();}
    }

    $("#shareURL_QR").qrcode({
        render: 'image',
        ecLevel: 'Q',
        background: '#FFFFFF',
        size: 200,
        text: 'https://everipedia.org/wiki/{{pageinfo.slug}}/',
        mode: 0,
        quiet: 2,
        mSize: 0.1,
        mPosX: 0.5,
        mPosY: 0.5,
        label: 'https://everipedia.org/wiki/{{pageinfo.slug}}/',
        fontname: 'sans',
        fontcolor: '#000',
        image: null
    });

</script>