
<!-- Desktop social profiles with -->
<div class="social-profiles">
  <div class="row">
  {% for linkObject in SOCIAL_LINK_OBJECTS %}
        {% if 'facebook.com' in linkObject.url %}
            <div class="col-md-3 col-xs-3"><a rel='nofollow' target="_self" href="https://iqnetwork.io/wiki/{{ PAGEMETADATA.url_slug }}">
                <img alt='{{ PAGETITLE }} Facebook' src="https://epcdn-vz.azureedge.net/static/images/profile_icons/profile-fb.png"/>
            </a></div>
        {% elif 'twitter.com' in linkObject.url %}
            <div class="col-md-3 col-xs-3"><a rel='nofollow' target="_self" href="https://iqnetwork.io/wiki/{{ PAGEMETADATA.url_slug }}">
                <img alt='{{ PAGETITLE }} Twitter' src="https://epcdn-vz.azureedge.net/static/images/profile_icons/profile-tw.png"/>
            </a></div>
        {% elif 'instagram.com' in linkObject.url %}
            <div class="col-md-3 col-xs-3"><a rel='nofollow' target="_self" href="https://iqnetwork.io/wiki/{{ PAGEMETADATA.url_slug }}">
                <img alt='{{ PAGETITLE }} Instagram' src="https://epcdn-vz.azureedge.net/static/images/profile_icons/profile-ig.png"/>
            </a></div>
        {% elif 'bandcamp.com' in linkObject.url %}
            <div class="col-md-3 col-xs-3"><a rel='nofollow' target="_self" href="https://iqnetwork.io/wiki/{{ PAGEMETADATA.url_slug }}">
                <img src="https://epcdn-vz.azureedge.net/static/images/profile_icons/profile-bandcamp.png"/>
            </a></div>
        {% elif 'github.com' in linkObject.url %}
            <div class="col-md-3 col-xs-3"><a rel='nofollow' target="_self" href="https://iqnetwork.io/wiki/{{ PAGEMETADATA.url_slug }}">
                <img src="https://epcdn-vz.azureedge.net/static/images/profile_icons/profile-github.png"/>
            </a></div>
        {% elif 'google.com' in linkObject.url %}
            <div class="col-md-3 col-xs-3"><a rel='nofollow' target="_self" href="https://iqnetwork.io/wiki/{{ PAGEMETADATA.url_slug }}">
                <img src="https://epcdn-vz.azureedge.net/static/images/profile_icons/profile-google.png"/>
            </a></div>
        {% elif 'last.fm' in linkObject.url %}
            <div class="col-md-3 col-xs-3"><a rel='nofollow' target="_self" href="https://iqnetwork.io/wiki/{{ PAGEMETADATA.url_slug }}">
                <img src="https://epcdn-vz.azureedge.net/static/images/profile_icons/profile-lastfm.png"/>
            </a></div>
        {% elif 'linkedin.com' in linkObject.url %}
            <div class="col-md-3 col-xs-3"><a rel='nofollow' target="_self" href="https://iqnetwork.io/wiki/{{ PAGEMETADATA.url_slug }}">
                <img alt="{{ PAGETITLE }} LinkedIn" src="https://epcdn-vz.azureedge.net/static/images/profile_icons/profile-linkedin.png"/>
            </a></div>
        {% elif 'medium.com' in linkObject.url %}
            <div class="col-md-3 col-xs-3"><a rel='nofollow' target="_self" href="https://iqnetwork.io/wiki/{{ PAGEMETADATA.url_slug }}">
                <img src="https://epcdn-vz.azureedge.net/static/images/profile_icons/profile-medium.png"/>
            </a></div>
        {% elif 'myspace.com' in linkObject.url %}
            <div class="col-md-3 col-xs-3"><a rel='nofollow' target="_self" href="https://iqnetwork.io/wiki/{{ PAGEMETADATA.url_slug }}">
                <img src="https://epcdn-vz.azureedge.net/static/images/profile_icons/profile-myspace.png"/>
            </a></div>
        {% elif 'pinterest.com' in linkObject.url %}
            <div class="col-md-3 col-xs-3"><a rel='nofollow' target="_self" href="https://iqnetwork.io/wiki/{{ PAGEMETADATA.url_slug }}">
                <img src="https://epcdn-vz.azureedge.net/static/images/profile_icons/profile-pinterest.png"/>
            </a></div>
        {% elif 'songkick' in linkObject.url %}
            <div class="col-md-3 col-xs-3"><a rel='nofollow' target="_self" href="https://iqnetwork.io/wiki/{{ PAGEMETADATA.url_slug }}">
                <img src="https://epcdn-vz.azureedge.net/static/images/profile_icons/profile-songkick.png"/>
            </a></div>
        {% elif 'snapchat.com' in linkObject.url %}
            <div class="col-md-3 col-xs-3"><a rel='nofollow' target="_self" href="https://iqnetwork.io/wiki/{{ PAGEMETADATA.url_slug }}">
                <img src="https://epcdn-vz.azureedge.net/static/images/profile_icons/profile-snapchat.png"/>
            </a></div>
        {% elif 'soundcloud' in linkObject.url %}
            <div class="col-md-3 col-xs-3"><a rel='nofollow' target="_self" href="https://iqnetwork.io/wiki/{{ PAGEMETADATA.url_slug }}">
                <img alt='{{ PAGETITLE }} SoundCloud' src="https://epcdn-vz.azureedge.net/static/images/profile_icons/profile-soundcloud.png"/>
            </a></div>
        {% elif 'tumblr.com' in linkObject.url %}
            <div class="col-md-3 col-xs-3"><a rel='nofollow' target="_self" href="https://iqnetwork.io/wiki/{{ PAGEMETADATA.url_slug }}">
                <img src="https://epcdn-vz.azureedge.net/static/images/profile_icons/profile-tumblr.png"/>
            </a></div>
        {% elif 'vine.co' in linkObject.url %}
            <div class="col-md-3 col-xs-3"><a rel='nofollow' target="_self" href="https://iqnetwork.io/wiki/{{ PAGEMETADATA.url_slug }}">
                <img src="https://epcdn-vz.azureedge.net/static/images/profile_icons/profile-vine.png"/>
            </a></div>
        {% elif 'vk.com' in linkObject.url %}
            <div class="col-md-3 col-xs-3"><a rel='nofollow' target="_self" href="https://iqnetwork.io/wiki/{{ PAGEMETADATA.url_slug }}">
                <img src="https://epcdn-vz.azureedge.net/static/images/profile_icons/profile-vk.png"/>
            </a></div>
        {% elif 'wikipedia' in linkObject.url %}
            <div class="col-md-3 col-xs-3"><a rel='nofollow' target="_self" href="https://iqnetwork.io/wiki/{{ PAGEMETADATA.url_slug }}">
                <img alt='{{ PAGETITLE }} Wikipedia' src="https://epcdn-vz.azureedge.net/static/images/profile_icons/profile-wiki.png"/>
            </a></div>
        {% elif 'yelp' in linkObject.url %}
            <div class="col-md-3 col-xs-3"><a rel='nofollow' target="_self" href="https://iqnetwork.io/wiki/{{ PAGEMETADATA.url_slug }}">
                <img src="https://epcdn-vz.azureedge.net/static/images/profile_icons/profile-yelp.png"/>
            </a></div>
        {% elif 'youtube.co' in linkObject.url %}
            <div class="col-md-3 col-xs-3"><a rel='nofollow' target="_self" href="https://iqnetwork.io/wiki/{{ PAGEMETADATA.url_slug }}">
                <img alt='{{ PAGETITLE }} YouTube' src="https://epcdn-vz.azureedge.net/static/images/profile_icons/profile-youtube.png"/>
            </a></div>
      {% endif %}

  {% endfor %}
  </div>
</div>