{% load i18n %}
<div class="heading-collection">
{% for headingChunk in rawHeadings %}
    {% if templateType == 'BLOCKCHAIN_AMP' %}
        <li class='toc-header-{{ headingChunk.5}}' data-blurb-id="{{ headingChunk.3 }}">
            <a rel="nofollow" class='toc-header-{{ headingChunk.5}}' href="#{{ headingChunk.1 }}">
                <div class="fixed-items-description">{{ headingChunk.0 }}</div>
            </a>
        </li>
    {% elif templateType == 'BLOCKCHAIN' %}
        <li class='toc-header-{{ headingChunk.5}}' data-blurb-id="{{ headingChunk.3 }}" onclick="$('#{{ headingChunk.3 }}').click();">
            <a rel="nofollow" href="/wiki/{{ articleSlug }}/#{{ headingChunk.2}}">
                <div class="fixed-items-description">{{ headingChunk.0 }}</div>
            </a>
        </li>
    {% endif %}
{% endfor %}
</div>

