<!DOCTYPE html>
{% load enterlink_custom_tags %}
{% load staticfiles %}
{% load i18n %}
<html>
<head>
	<!--- Include Header -->
    <script src="/static/js/easytimer.min.js"></script>
    <meta name="robots" content="noindex, nofollow, noarchive">
	{% include "enterlink/headers/header-common.html" %}{% include "enterlink/headers/header-navbar.html" %}
    {% include 'enterlink/inline-css/voting-css.html' %}
    {% include "enterlink/inline-css/template_blockchain_css.html" %}


    <script>
        $('#submission_waiting').show();
        function fetchVotes() {
            $('#submission_waiting').show();

            var propHash = "{{ new_ipfs }}";
            $.get(`https://epmainnet.libertyblock.io:8000/votes/${propHash}`).then(function (docs) {
                var tallyList = [0, 0];
                var approvers = [];
                var rejectors = [];
                $.each(docs, function( index, value ) {
                    if(value.act.data.approve == 0 ){
                        tallyList[0] += value.act.data.amount;
                        rejectors.push([value.act.data.voter, value.act.data.amount]);
                    }
                    else if(value.act.data.approve == 1 ){
                        tallyList[1] += value.act.data.amount;
                        approvers.push([value.act.data.voter, value.act.data.amount]);
                    }
                });
                $(".toc-vote-box .reject-tally").html(tallyList[0]);
                $(".toc-vote-box .accept-tally").html(tallyList[1]);

                var rejectorsLength = rejectors.length;
                $('.rejectors-list').html("");
                for (var i = 0; i < rejectorsLength; i++) {
                    let replacements = {"%VOTER%":rejectors[i][0],"%AMOUNT%":rejectors[i][1]};
                    let liHTML = '<li class="voter-line"><div class="vote-amount">-%AMOUNT%</div><div class="voter">%VOTER%</div></li>';
                    liHTML = liHTML.replace(/%\w+%/g, function(all) {
                        return replacements[all] || all;
                    });
                    $('.rejectors-list').append(liHTML);
                }

                var approversLength = approvers.length;
                $('.approvers-list').html("");
                for (var i = 0; i < approversLength; i++) {
                    let replacements = {"%VOTER%":approvers[i][0],"%AMOUNT%":approvers[i][1]};
                    let liHTML = '<li class="voter-line"><div class="vote-amount">+%AMOUNT%</div><div class="voter">%VOTER%</div></li>';
                    liHTML = liHTML.replace(/%\w+%/g, function(all) {
                        return replacements[all] || all;
                    });
                    $('.approvers-list').append(liHTML);
                }
                $('#submission_waiting').hide();
            });
        }


        function pad(num, size) {
            var s = "0" + num;
            return s.substr(s.length - size);
        }

                
        // Show Voting Panel
        $(document).on("scatterNavbarDone", function () {
            $(".place-votes-header, .vote-input-box, .place-votes-btn-rows").css("display", "inline-table");
        });

        $(document).on("ready", function () {
            var propHash = "{{ new_ipfs }}";

            $.get(`https://epmainnet.libertyblock.io:8000/proposal/${propHash}`).then(function (doc) {
                var startTime = new Date(doc.createdAt);
                var endTime = new Date(startTime.getTime() + 6*3600*1000);
                var timezone = startTime.toLocaleString("en", {timeZoneName: "short"}).split(' ').pop();


                startString = pad((startTime.getMonth() + 1), 2) + "/" + startTime.getDate() + "/" + startTime.getFullYear() + " " + pad(startTime.getHours(), 2);
                startString += ":" + pad(startTime.getMinutes(), 2) + ":" + pad(startTime.getSeconds(), 2) + " " + timezone;

                endString = pad((endTime.getMonth() + 1), 2) + "/" + endTime.getDate() + "/" + endTime.getFullYear() + " " + pad(endTime.getHours(), 2);
                endString += ":" + pad(endTime.getMinutes(), 2) + ":" + pad(endTime.getSeconds(), 2) + " " + timezone;

                $(".toc-vote-box .voting-period .period-start").html(startString);
                $(".toc-vote-box .voting-period .period-end").html(endString);

                var currentTime = new Date().getTime(); 
                var timeDifference = (endTime - currentTime) / 1000;

                if (timeDifference < 0){
                    $('.voting-timer .timer-right').html('---COMPLETE---');
                }
                else{
                    var timer = new Timer();
                    timer.start({countdown: true, startValues: {seconds: timeDifference}});
                    $('.voting-timer .timer-right').html(timer.getTimeValues().toString());
                    timer.addEventListener('secondsUpdated', function (e) {
                        $('.voting-timer .timer-right').html(timer.getTimeValues().toString());
                    });
                    timer.addEventListener('targetAchieved', function (e) {
                        $('.voting-timer .timer-right').html('---COMPLETE---');
                    });

                }
            });

            // Fetch the votes
            fetchVotes();

            // Handle the reject vote
            $(".toc-vote-box .reject-vote").on("click", function () {
                $('#submission_waiting').show();
                var voteCount = $(".toc-vote-box .vote-input").val();

                var transactionJSON = {
                    actions: [{
                        account: 'eparticlectr',
                        name: 'votebyhash',
                        authorization: [{
                            actor: scatterAccountName,
                            permission: "active",
                        }],
                        data: {
                            voter: scatterAccountName,
                            proposal_hash: '{{ new_ipfs }}',
                            approve: false,
                            amount: voteCount,
                        },
                    }]
                };
                eos.transact(transactionJSON, {blocksBehind: 3, expireSeconds: 30,}).then(result => {
                    fetchVotes();
                    $('#submission_waiting').hide();
                    console.log("Transaction completed:" + result.transaction_id);
                }).catch(e => {
                    $('#submission_waiting').hide();
                    alert(e);
                    // if (e instanceof eosjs_jsonrpc.RpcError){
                    // 	console.log(JSON.stringify(e.json, null, 2));
                    // }
                });
            });

            // handle the accept vote
            $(".toc-vote-box .accept-vote").on("click", function () {
                $('#submission_waiting').show();
                var voteCount = $(".toc-vote-box .vote-input").val();

                var transactionJSON = {
                    actions: [{
                        account: 'eparticlectr',
                        name: 'votebyhash',
                        authorization: [{
                            actor: scatterAccountName,
                            permission: "active",
                        }],
                        data: {
                            voter: scatterAccountName,
                            proposal_hash: '{{ new_ipfs }}',
                            approve: true,
                            amount: voteCount,
                        },
                    }]
                };
                eos.transact(transactionJSON, {blocksBehind: 3, expireSeconds: 30,}).then(result => {
                    fetchVotes();
                    $('#submission_waiting').hide();
                    console.log("Transaction completed:" + result.transaction_id);
                }).catch(e => {
                    $('#submission_waiting').hide();
                    alert(e);
                    // if (e instanceof eosjs_jsonrpc.RpcError){
                    // 	console.log(JSON.stringify(e.json, null, 2));
                    // }
                });
            });

            $(".vote-inl-tbl .icon-cycle").on("click", function () {
                fetchVotes();
            });

        });


    </script>
</head>
<div id="submission_waiting" style="display: none;">
    <div class="waiting-header">{% trans 'Please wait' %}...</div>
    <div class="waiting-header-close"><span class="icon icon-squared-cross"></span></div>
    <div class="submission-wait-wrap">
        <img src="/static/images/loading2.gif" alt="Loading Spinner">
    </div>
    <script>
        $(".waiting-header-close").click(function() {
            $(this).parent().hide();
        });
    </script>
</div>

<section class="container">
    <div class="row">
        <div class="changes-toc col-md-3">
            {{ renderedToC|safe }}
        </div>
        <div class="voting-container col-md-9" id="voting-ct">
            <table class='header-table' width="100%">
                <tr class="ipfs-hash-row">
                    <td>{{proposer}}</td>
                    <td class="arrow-container"><span class="icon icon-arrow-long-right"></span></td>
                    <td>{{old_ipfs}}</td>
                    <td class="arrow-container"><span class="icon icon-arrow-long-right"></span></td>
                    <td>{{new_ipfs}}</td>
                </tr>
            </table>
            <div id="different-diffs">
                <span>View: </span>
                <a href="/html-diff/{{old_ipfs}}/{{new_ipfs}}">Raw HTML Diff</a>
                <span>--</span>
                <a href="/text-diff/{{old_ipfs}}/{{new_ipfs}}">Raw Text Diff</a>
            </div>
            {{ compareBlob|safe }}
        </div>
    </div>
</section>

<div class="voter-list rejectors">
    <div class="list-header">{% trans 'Rejectors' %}</div>
    <ul class="rejectors-list">
    </ul>
</div>

<div class="voter-list approvers">
    <div class="list-header">{% trans 'Approvers' %}</div>
    <ul class="approvers-list">
    </ul>
</div>

<script>
    $(document).on({
    mouseenter: function () {
        mouse_is_inside = true;
    },

    mouseleave: function () {
        mouse_is_inside = false;
    }
}, '.my-elements');

    $(document).ready(function() {
        $(document).on({
            mouseenter: function () {
                $(".voter-list.approvers").hide();
                $(".voter-list.rejectors").show();
            },

            mouseleave: function () {
                $(".voter-list.rejectors").hide();
            }
        }, '.reject-tally');

        $(document).on({
            mouseenter: function () {
                $(".voter-list.rejectors").hide();
                $(".voter-list.approvers").show();
            },

            mouseleave: function () {
                $(".voter-list.approvers").hide();
            }
        }, '.accept-tally');


    });
</script>

<!--- Everipedia Footer -->
{% include "enterlink/footers/footer.html" %}
{#{% include "enterlink/footers/deferredJS.html" %}#}
{% include 'enterlink/inline-css/application.html' %}
{% include 'enterlink/headers/extra-analytics-right-before-body-end.html' %}

</html>
