<!DOCTYPE html>
{% load enterlink_custom_tags %}
{% load staticfiles %}
{% load i18n %}
<html>
<head>
	<!--- Include Header -->
    <script type="text/javascript" src="/static/js/eosjs-cdn.js"></script>
    <script type="text/javascript" src="/static/js/easytimer.min.js"></script>
	{% include "enterlink/headers/header-common.html" %}{% include "enterlink/headers/header-navbar.html" %}
    {% include 'enterlink/inline-css/voting-css.html' %}

    <script>
        $('#submission_waiting').show();
        function fetchVotes(propHashTrunc64, propHashTrunc64PlusOne) {
            $('#submission_waiting').show();
            $.ajax({
                type: "POST",
                url: EosNetURL + "/v1/chain/get_table_rows",
                // cannot filter by proposal ID until secondary indexes are fixed by Dan. Also cannot set proposal ID as primary key due to uniqueness issues...
                data: JSON.stringify({"scope":"eparticlectr", "code":"eparticlectr", "table":"votestbl", "limit":"999999999999",
                        "lower_bound":propHashTrunc64, "upper_bound":propHashTrunc64PlusOne, "key_type":"i64", "index_position":"3", "json": true}),
                beforeSend: function( xhr ) {
                },
                success: function (data) {
                    var tallyList = [0, 0];
                    var approvers = [];
                    var rejectors = [];
                    $.each(data.rows, function( index, value ) {
                        if(value.approve == 0 ){
                            tallyList[0] += value.amount;
                            rejectors.push([value.voter, value.amount]);
                        }
                        else if(value.approve == 1 ){
                            tallyList[1] += value.amount;
                            approvers.push([value.voter, value.amount]);
                        }
                    });
                    $(".toc-vote-box .reject-tally").html(tallyList[0]);
                    $(".toc-vote-box .accept-tally").html(tallyList[1]);

                    var rejectorsLength = rejectors.length;
                    $('.rejectors-list').html("");
                    for (var i = 0; i < rejectorsLength; i++) {
                        let replacements = {"%VOTER%":rejectors[i][0],"%AMOUNT%":rejectors[i][1]};
                        let liHTML = '<li class="voter-line"><div class="vote-amount">-%AMOUNT%</div><div class="voter">%VOTER%</div></li>';
                        liHTML = liHTML.replace(/%\w+%/g, function(all) {
                            return replacements[all] || all;
                        });
                        $('.rejectors-list').append(liHTML);
                    }

                    var approversLength = approvers.length;
                    $('.approvers-list').html("");
                    for (var i = 0; i < approversLength; i++) {
                        let replacements = {"%VOTER%":approvers[i][0],"%AMOUNT%":approvers[i][1]};
                        let liHTML = '<li class="voter-line"><div class="vote-amount">+%AMOUNT%</div><div class="voter">%VOTER%</div></li>';
                        liHTML = liHTML.replace(/%\w+%/g, function(all) {
                            return replacements[all] || all;
                        });
                        $('.approvers-list').append(liHTML);
                    }
                    $('#submission_waiting').hide();
                }
            });
        }


        function pad(num, size) {
            var s = "0" + num;
            return s.substr(s.length - size);
        }

        // $(document).on("scatterNavbarDone", function () {
            $(window).load(function() {
                var propHashTrunc64 = ipfs_to_uint64_trunc("{{ new_ipfs }}");
                var propHashTrunc64PlusOne = propHashTrunc64 + 1;
                var proposalObj = "";

                function finalizeVote(){
                    $('#submission_waiting').show();
                    eos.contract('eparticlectr').then(eparticlectr => {
                        eparticlectr.fnlbyhash('{{ new_ipfs }}', {authorization: scatterAccountName, permission: "active"}
                        ).then(result => {
                            $(".place-votes-header, .vote-input-box, .place-votes-btn-rows").hide();
                            $.ajax({
                                url: location.origin + "/cachefinalizedresult/" + propHashTrunc64 + "/",
                                success: function(){}
                            });
                            $('#submission_waiting').hide();
                        }).catch(error => {
                            error = JSON.parse(error).error.details[0].message.replace('condition: assertion failed: ', '');
                            alert(error);
                            $('#submission_waiting').hide();
                        });

                    });
                }


                var jData = JSON.stringify({"scope":"eparticlectr", "code":"eparticlectr", "table":"propstbl", "lower_bound":propHashTrunc64,
                        "upper_bound":propHashTrunc64PlusOne, "key_type":"i64", "index_position":"3", "json": true});
                $.ajax({
                    type: "POST",
                    url: EosNetURL + "/v1/chain/get_table_rows",
                    data: jData,
                    beforeSend: function( xhr ) {
                        // console.log(jData);
                    },
                    success: function (data) {
                        // console.log(data);
                        if(data.rows[0]["status"] == 0){
                            $(".place-votes-header, .vote-input-box, .place-votes-btn-rows").css("display", "inline-table");
                        }
                        proposalObj = data;
                        var startTime = new Date(0);
                        var endTime = new Date(0);
                        var startTimeInt = data.rows[0]["starttime"];
                        var endTimeInt = data.rows[0]["endtime"];
                        startTime.setUTCSeconds(startTimeInt);
                        endTime.setUTCSeconds(endTimeInt);

                        startString = pad((startTime.getUTCMonth() + 1), 2) + "/" + startTime.getUTCDate() + "/" + startTime.getUTCFullYear() + " " + pad(startTime.getUTCHours(), 2);
                        startString += ":" + pad(startTime.getUTCMinutes(), 2) + ":" + pad(startTime.getUTCSeconds(), 2) + " UTC";

                        endString = pad((endTime.getUTCMonth() + 1), 2) + "/" + endTime.getUTCDate() + "/" + endTime.getUTCFullYear() + " " + pad(endTime.getUTCHours(), 2);
                        endString += ":" + pad(endTime.getUTCMinutes(), 2) + ":" + pad(endTime.getUTCSeconds(), 2) + " UTC";

                        $(".toc-vote-box .voting-period .period-start").html(startString);
                        $(".toc-vote-box .voting-period .period-end").html(endString);

                        var currentTime = Math.round((new Date()).getTime() / 1000);
                        var timeDifference = endTimeInt - currentTime;

                        if (currentTime > endTimeInt){
                            $('.voting-timer .timer-right').html('---COMPLETE---');
                            if(data.rows[0]["status"] == 0){
                                finalizeVote();
                            }

                        }
                        else{
                            var timer = new Timer();
                            timer.start({countdown: true, startValues: {seconds: timeDifference}});
                            $('.voting-timer .timer-right').html(timer.getTimeValues().toString());
                            timer.addEventListener('secondsUpdated', function (e) {
                                $('.voting-timer .timer-right').html(timer.getTimeValues().toString());
                            });
                            timer.addEventListener('targetAchieved', function (e) {
                                $('.voting-timer .timer-right').html('---COMPLETE---');
                                finalizeVote();
                            });

                        }
                    }
                });


                // Fetch the votes
                fetchVotes(propHashTrunc64, propHashTrunc64PlusOne);

                // Handle the reject vote
                $(".toc-vote-box .reject-vote").on("click", function () {
                    $('#submission_waiting').show();
                    var voteCount = $(".toc-vote-box .vote-input").val();
                    eos.contract('eparticlectr').then(eparticlectr => {
                        eparticlectr.votebyhash(scatterAccountName, '{{ new_ipfs }}', 0, voteCount, {authorization: scatterAccountName, permission: "active"}
                        ).then(result => {
                            fetchVotes(propHashTrunc64, propHashTrunc64PlusOne);
                            $('#submission_waiting').hide();
                        }).catch(error => {
                            error = JSON.parse(error).error.details[0].message.replace('condition: assertion failed: ', '');
                            alert(error);
                            $('#submission_waiting').hide();
                        });
                    });
                });

                // handle the accept vote
                $(".toc-vote-box .accept-vote").on("click", function () {
                    $('#submission_waiting').show();
                    var voteCount = $(".toc-vote-box .vote-input").val();
                    eos.contract('eparticlectr').then(eparticlectr => {
                        eparticlectr.votebyhash(scatterAccountName, '{{ new_ipfs }}', 1, voteCount, {authorization: scatterAccountName, permission: "active"}
                        ).then(result => {
                            fetchVotes(propHashTrunc64, propHashTrunc64PlusOne);
                            $('#submission_waiting').hide();
                        }).catch(error => {
                            error = JSON.parse(error).error.details[0].message.replace('condition: assertion failed: ', '');
                            alert(error);
                            $('#submission_waiting').hide();
                        });

                    });
                });

                $(".vote-inl-tbl .icon-cycle").on("click", function () {
                    fetchVotes(propHashTrunc64, propHashTrunc64PlusOne);
                });

            });
        // });


    </script>
</head>
<div id="submission_waiting" style="display: none;">
    <div class="waiting-header">{% trans 'Please wait' %}...</div>
    <div class="waiting-header-close"><span class="icon icon-squared-cross"></span></div>
    <div class="submission-wait-wrap">
        <img src="/static/images/loading2.gif">
    </div>
    <script>
        $(".waiting-header-close").click(function() {
            $(this).parent().hide();
        });
    </script>
</div>

<section class="container">
    <div class="row">
        <div class="changes-toc col-md-3">
            {{ renderedToC|safe }}
        </div>
        <div class="voting-container col-md-9" id="voting-ct">
            <table class='header-table' width="100%">
                <tr class="table-header-row">
                    <th style="text-align: center;">{% trans 'Before' %}</th>
                    <th class="arrow-container" rowspan="2"><span class="icon icon-arrow-long-right"></span></th>
                    <th style="text-align: center;">{% trans 'After' %}</th>
                </tr>
                <tr class="ipfs-hash-row">
                    <td>{{old_ipfs}}</td>
                    <td>{{new_ipfs}}</td>
                </tr>
            </table>
            {{ compareBlob|safe }}
        </div>
    </div>
</section>

<div class="voter-list rejectors">
    <div class="list-header">{% trans 'Rejectors' %}</div>
    <ul class="rejectors-list">
    </ul>
</div>

<div class="voter-list approvers">
    <div class="list-header">{% trans 'Approvers' %}</div>
    <ul class="approvers-list">
    </ul>
</div>

<script>
    $(document).on({
    mouseenter: function () {
        mouse_is_inside = true;
    },

    mouseleave: function () {
        mouse_is_inside = false;
    }
}, '.my-elements');

    $(document).ready(function() {
        $(document).on({
            mouseenter: function () {
                $(".voter-list.approvers").hide();
                $(".voter-list.rejectors").show();
            },

            mouseleave: function () {
                $(".voter-list.rejectors").hide();
            }
        }, '.reject-tally');

        $(document).on({
            mouseenter: function () {
                $(".voter-list.rejectors").hide();
                $(".voter-list.approvers").show();
            },

            mouseleave: function () {
                $(".voter-list.approvers").hide();
            }
        }, '.accept-tally');


    });
</script>

<!--- Everipedia Footer -->
{% include "enterlink/footers/footer.html" %}
{#{% include "enterlink/footers/deferredJS.html" %}#}
{% include 'enterlink/inline-css/application.html' %}
{% include 'enterlink/headers/extra-analytics-right-before-body-end.html' %}

</html>
