*{
	font-family: 'Poppins', Helevetica, Arial;
}

.already-account-notice{
font-size:22px;
}

@media (max-width: 565px) {
#register-box {
padding:0
}
}

.login-ct {
	width: 440px;
	color: #2a2a2a;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;

    background-color: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 1px;
    padding: 10px 0;
    padding-left: 35px;
    padding-right: 35px;
    padding-top:10px;
    padding-bottom:30px;
}


@media (max-width: 767px) {
	.login-ct {
	    width: 100%;
	    padding-left: 25px;
	    padding-right: 25px;
	    border: 0px;
	}
}

.login-ct a {
	outline:none;
}


.login-ct .login-logo {
	width:80px;
	margin-top:10px;
}

.login-ct h1 {
    color: #2a2a2a;
    text-align: center;
    font-size: 24px;
}

.login-ct-register {
margin-top:10px
}

.login-ct input[type="text"] {
	height: auto;
	box-shadow:none;
	background: 0 0;
	border: 1px solid #dbdbdb;
	border-radius: 3px;
	box-sizing: border-box;
	color: #262626;
	font-size: 16px;
	padding:9px 14px 7px;
	-webkit-appearance: none;
	width: 100%;
}

.login-ct input[type="text"]:focus {
    border: 1px solid #b2b2b2;
    outline: none;
}

.login-ct input[type="password"] {
	height: auto;
	box-shadow:none;
	background: 0 0;
	border: 1px solid #dbdbdb;
	border-radius: 3px;
	box-sizing: border-box;
	color: #262626;
	font-size: 16px;
	padding:9px 14px 7px;
	-webkit-appearance: none;
	width: 100%;
}

.login-ct input[type="password"]:focus {
    border: 1px solid #b2b2b2;
    outline: none;
}


.login-ct input[type="submit"] {
	background-color:#60acdb;
	font-size: 14px;
}

.login-ct input[type="submit"]:hover {
	border-color: #66add9;
	background-color:#4a96c5;
}

.login-ct .tw_login {
	width: 100%;
	padding-top: 11px;
	padding-bottom: 11px;
	background-position: 8px 6px;
	font-size: 16px;
	float:none;
	line-height: 24px;
}

.login-ct .fb_login {
    width: 100%;
    padding-top: 11px;
    padding-bottom: 11px;
    background-position: 8px 6px;
	font-size: 16px;
	float:none;
	margin-bottom:3px;
	line-height: 24px;
}

.login-ct .fb_login:hover {
	color:#FFF;
	text-decoration: none;
}
	
.login-ct .tw_login:hover {
	color:#FFF;
	text-decoration: none;
}

.login-ct .fb_login:active {
	color:#FFF;
	text-decoration: none;
}
	
.login-ct .tw_login:active {
	color:#FFF;
	text-decoration: none;
}

.needaccount {
	width: 440px;
	color: #2a2a2a;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	margin-bottom: 20px;
	background-color: #fff;
	border: 1px solid #e6e6e6;
	border-radius: 1px;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 16px;
	padding-bottom: 15px;
	min-height: auto;
	text-align: center;
}


@media (max-width: 767px) {
	.needaccount {
	    width: 100%;
	    padding-left: 25px;
	    padding-right: 25px;
	    border: 0px;
	    margin-top: -20px;
	}
}


.needaccount a {
	font-size:14px;
}

.login-ct input[type="submit"]:active {
	
}

.login-ct .scatter-bar {
	float: left;
    width: 100%;
    padding: 10px 0px 0px 0px;
    margin: 15px 0px 0px 0px;
    border-top: 5px solid #e6e6e6;
}

.login-ct .scatter-bar a {
	display: inline-block;
	padding: 5px 0px;
	width: 100%;
}
.login-ct .scatter-bar a:hover{
	background: #f6f6f6;
	cursor: pointer;
}

.login-ct .scatter-bar .line-text{
    line-height: 66px;
    font-size: 20px;
    position: relative;
    color: #666;
}

.login-ct .scatter-bar .line-logo {
    width: 50px;
    margin-right: 10px;
}

.login-ct .oreid-bar {
	float: left;
    width: 100%;
    padding: 15px 0px 0px 0px;
    margin: 10px 0px 15px 0px;
    border-top: 5px solid #e6e6e6;
}

.login-ct .oreid-bar a{
	display: inline-block;
}

.login-ct .oreid-bar .line-text{
    line-height: 50px;
    font-size: 20px;
    position: relative;
    color: #666;
}

.login-ct .oreid-bar .line-logo {
    width: 50px;
    margin-right: 10px;
}
