<script type="text/javascript" src="/static/js/eosjs-debug.js"></script>
<script type="text/javascript" src="/static/js/eosjs-jsonrpc-debug.js"></script>
<script type="text/javascript" src="/static/js/eosjs-jssig-debug.js"></script>
<script type="text/javascript" src="/static/js/eosjs-format-mini.js"></script>

<!--https://github.com/GetScatter/scatter-js/tree/master/bundles-->
<script src="/static/js/scatterjs-core.min.js"></script>
<script src="/static/js/scatterjs-plugin-eosjs2.min.js"></script>
{% include 'enterlink/inline-js/scatter-utility-functions.html' %}
<script>
    ScatterJS.plugins( new ScatterEOS() );
    var rpc = new eosjs_jsonrpc.JsonRpc('https://nodes.get-scatter.com:443');

    // Mainnet alt
    var EosNetHost = "nodes.get-scatter.com";
    var EosNetProtocol = "https";
    var EosNetPort = 443;
    var EosNetPortString = "443";
    var EosNetChainID = "aca376f206b8fc25a6ed44dbdc66547c36c6c33e3a119ffbeaef943642f0e906";

    // Mainnet
    // var EosNetHost = "mainnet.libertyblock.io";
    // var EosNetProtocol = "https";
    // var EosNetPort = 7777;
    // var EosNetPortString = "7777";
    // var EosNetChainID = "aca376f206b8fc25a6ed44dbdc66547c36c6c33e3a119ffbeaef943642f0e906";

	// Debug
    // var EosNetHost = "127.0.0.1";
    // var EosNetProtocol = "http";
    // var EosNetPort = 8888;
    // var EosNetPortString = "8888";
    // var EosNetChainID = "cf057bbfb72640471fd910bcb67639c22df9f92470936cddc1ade0e2f2e7dc4f";

    var eos = "";
    var iqBalance = "0 IQ";
    var scatterAccountName = ""; // need to fix this later
    var scatterAccountNameUInt64 = "";
    var scatterAccountNameCharPlusOne = ""; // need to fix this later
	var isMobile = parseInt('{{request.mobile|yesno:"1,0"}}');
	var isTablet = parseInt('{{request.tablet|yesno:"1,0"}}');
	var IQ_PRECISION_MULTIPLIER = 10000;

	var network = {
        protocol: EosNetProtocol,
        blockchain: 'eos',
        host: EosNetHost, // ( or null if endorsed chainId )
        port: EosNetPort, // ( or null if defaulting to 80 )
        chainId: EosNetChainID // FILL THIS IN WITH MAINNET https://mainnet.libertyblock.io:7777/v1/chain/get_info
    };

    var EosNetURL = EosNetProtocol + "://" + EosNetHost + ":" + EosNetPortString;

    var eosOptions = {
        // broadcast: true,
        // sign: true,
        expireInSeconds: 3600, // 1 hr
        verbose: false,
        httpEndpoint: 'http://mainnet.libertyblock.io:8888',
        chainId: EosNetChainID // FILL THIS IN WITH MAINNET https://mainnet.libertyblock.io:7777/v1/chain/get_info
    };

    var scatter = ScatterJS.scatter;

    // https://get-scatter.com/docs/dev/setting-up-for-web-apps
    scatter.connect("Everipedia").then(connected => {
        // User does not have Scatter Desktop, Mobile or Classic installed.
        if(!connected) return false;
        document.dispatchEvent(new CustomEvent("scatterLoaded"));
        // window.scatter = null;

        var requiredFields = {accounts:[ network ]};
        scatter.getIdentity(requiredFields).then(identity => {
            scatterAccountName = identity.accounts[0].name;
            var account = identity.accounts.find(x => x.blockchain === 'eos');
            var scatterAccountNameBigInt = bigInt(encodeName(scatterAccountName, 0));
            scatterAccountNameUInt64 = scatterAccountNameBigInt.toString();
            scatterAccountNameCharPlusOne = increaseLastCharByOne(scatterAccountName);

            eos = new eosjs.Api({ rpc, signatureProvider:scatter.eosHook(network) });

            if (isMobile){
                // alert(isMobile);
            }
            else{
			    $("ul.nav li.avatar-iq .scatter-username").html(scatterAccountName);
            }

            refreshIQ();
            refreshBrainpower();

            document.dispatchEvent(new CustomEvent("scatterNavbarDone"));

        }).catch(error => {
		    console.log(error);
			console.log("Failed to get Scatter identity")
		});
    });
</script>