{% load i18n %}

<script>
    var scripts = [];
    var _scripts = ['/static/js/eosjs-debug.js', '/static/js/eosjs-jsonrpc-debug.js', '/static/js/eosjs-jssig-debug.js', '/static/js/eosjs-format-mini.js',
                    '/static/js/scatterjs-core.min.js', '/static/js/scatterjs-plugin-eosjs2.min.js', '/static/js/BigInteger.js', '/static/js/scatter-header-js.js'  ];

    // load script function with callback to handle synchronicity
    function loadScriptScatter( src, script, callbackfunc ){

        script = document.createElement('script');
        script.onerror = function() {
            // handling error when loading script
            alert('Error to handle')
        };
        script.onload = function(){
            // console.log(src + ' loaded ');
            if(callbackfunc) callbackfunc();
        };
        script.src = src;
        document.getElementsByTagName('head')[0].appendChild(script);
    }

    function LoadScriptsSync(_scripts, scripts) {

        var x = 0;
        var loopArray = function(_scripts, scripts) {
            // call itself
            loadScriptScatter(_scripts[x], scripts[x], function(){
                // set x to next item
                x++;
                // any more items in array?
                if(x < _scripts.length) {
                    loopArray(_scripts, scripts);
                }
            });
        };
        loopArray(_scripts, scripts);
    }

    var host1, host2, socket1, socket2;
    host1 = 'local.get-scatter.com:50006'; // wss://local.get-scatter.com:50006
    socket1 = new WebSocket(`wss://${host1}/socket.io/?EIO=3&transport=websocket`);

    socket1.onerror = function(evt) {
        console.log("Scatter WSS failed. Trying WS...");
        host2 = '127.0.0.1:50005';
        socket2 = new WebSocket(`ws://${host2}/socket.io/?EIO=3&transport=websocket`);
        socket2.onerror = function(evt) {
            console.log("Could connect to Scatter. Please try again.");
            $("#header_iq_count").parent().remove();
            $("#header_bpwr_count").parent().remove();
            $("#header_rwd_claim").parent().remove();
            $(".create-page-dropdown").parent().remove();
        };
        socket2.onopen = function(evt) {
            LoadScriptsSync(_scripts, scripts);
            $("#get_scatter").parent().remove();
            console.log("Loaded Scatter using WS");
        };
    };

    socket1.onopen = function(evt) {
        LoadScriptsSync(_scripts, scripts);
        $("#get_scatter").parent().remove();
        console.log("Loaded Scatter using WSS");
    };
</script>

