<style>

.highlight {
    background-color: #fff;
    border-color: #d3e0e9
}

.list-group-item .glyphicon {
    line-height: 1.4
}

.modal-header .close {
    margin-top: 4px
}

.with-top-navbar {
    padding-top: 140px;
    overflow-x: hidden;
}

.app-navbar {
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}



.app-navbar .form-control {
    box-shadow: none;
    border-color: #CCC
}

.app-navbar .navbar-brand img {
    width: 85px
}
@media (min-width:768px) {

}

.app-navbar .navbar-collapse:after {
    height: 100vh
}

.app-notifications {
    margin-left: -12px;
    padding-bottom: 10px!important
}

.app-notifications .icon:before {
    font-size: 20px
}

@media (min-width:768px) {
    .app-navbar .navbar-collapse:after {
        height: auto
    }
    .app-navbar .navbar-collapse {
        max-height: 52px;
    }
    .app-navbar, .app-navbar .container {
        max-height: 53px;
    }

    .app-navbar .container {
        width: calc(80% - 55px);
        margin: 0 10% 0 10%;
    }
    
    .app-navbar {
	    /*box-shadow: 0 2px 2px -2px rgba(0,0,0,.15);*/
	    background:#fafafa;
		border-bottom: 1px solid #ebebeb !important;
		padding-top: 24px;
		max-height: 100px;
		height: 100px;
    }

}

.app-navbar .container {
	padding-left:0px;
	padding-right:0px;
}


{#@media (max-width:768px) {#}
{#	.app-navbar .container {#}
{#		width:90%;#}
{#	}#}
{#}#}

{#@media (min-width:768px) and (max-width:1080px) {#}
{#    .app-navbar .container {#}
{#        margin-left: 53px;#}
{#    }#}
{#}#}

{#@media (min-width:768px) {#}
{#	.app-navbar .container {#}
{#		width:90%;#}
{#	}#}
{#}#}
{##}
{#@media (min-width:960px) {#}
{#	.app-navbar .container {#}
{#		width:78%;#}
{#	}#}
{#}#}
{##}
{#@media (min-width:1080px) {#}
{#	.app-navbar .container {#}
{#		width:72%;#}
{#	}#}
{#}#}
{##}
{#@media (min-width:1280px) {#}
{#	.app-navbar .container {#}
{#		width:70%;#}
{#		max-width:1310px;#}
{#	}#}
{#}#}


.cbp-spmenu-push-toright .app-navbar {
	border:0px solid red;
	margin-left:200px;
	width:auto;
}

{#@media (min-width:1120px) {#}
{#	.cbp-spmenu-push-toright .app-navbar {#}
{#		margin-left:18%;#}
{#	}#}
{#}#}


@media (max-width:768px) {
    .app-search {
        margin-top: -1px
    }
    .app-navbar {
        height: 37px;
        min-height: 37px;
    }
    .app-navbar .container {
        width: 80%;
        margin-left: 10%;
    }

}

.app-navbar .nav > li > a {
	font-size:17px;
}

.app-new-msg {
    margin-right: 10px
}

.app-brand {
    width: 40%;
    display: inline-block
}

.app-brand img {
    width: 100%
}

</style>