<style>

#blobBox_container {
display: block;
width: 100%;
overflow-x: scroll;
overflow-y: hidden;
float:left;
margin-top:5px;
list-style-position:inside;
background-color:#FFF;
font-size:15px;
font-family:'Lora', Helvetica, Arial;
}

#blobBox_container table.infobox {
width:100%!important
}

#blobBox_container tr {
border-bottom:1px solid rgba(128,128,128,0.13);
max-width:100%;
}

#blobBox_container tr p {
margin-bottom:0
}

#blobBox_container * {
max-width:100%;
word-wrap: break-word;
}

#blobBox_container img:not(.geodot) {
float:left
}

#blobBox_container td {
padding-left:7px!important;
max-width:100%;
white-space:normal!important;
word-wrap: break-word;
}

#blobBox_container table.infobox > tbody{

}

#blobBox_container td span {
white-space:normal!important
}

#blobBox_container td div span{
display: inline-block;
}

#blobBox_container tr th:not([colspan]) {
	text-align: center !important;
	padding: 3px 6px 4px 3px !important;
	border-right: 0px dashed rgba(128,128,128,0.13);
	font-weight: 600;
	font-size: 14px;
}

#blobBox_container tr th[colspan] {
	font-size: 100%;
	padding-top: 2px;
	padding-bottom: 2px;
}

#blobBox_container tr th[style="text-align:center;background:lavender"] {
background:rgba(236,236,236,0.62)!important;
border-radius:2px;
padding:3px;
font-size:14px;
font-weight:400!important
}

#blobBox_container tr th.navbox-title {
background:#f5f5f5!important
}

#blobBox_container tr th[style="background-color:#B0C4DE;"] {
background:rgba(236,236,236,0.62)!important
}

#blobBox_container tr td {
max-width:100%;
padding-top:3px!important;
padding-bottom:3px!important;
vertical-align:middle;
font-size: 14px;
color: #666;
}

#blobBox_container tr.mergedtoprow td {
word-break: break-all;
}

#blobBox_container tr td p {
word-break:break-all
}

#blobBox_container tr td img {
object-fit:contain
}

#blobBox_container tr.mergedtoprow th[colspan="2"] {
text-align:center!important
}

#blobBox_container tr.mergedtoprow td.maptable small{
display: inline-block;
}

#blobBox_container table.geography tr.mergedtoprow th[colspan="2"] {
background-color:rgba(78,228,78,0.3)
}

#blobBox_container tr td th[style="width:25%"] {
background-color:red
}

#blobBox_container td:first-child img {
width:100%;
text-align:center
}

#blobBox_container caption.fn,#blobBox_container span.fn,#blobBox_container table caption {
padding-top:0;
padding-bottom:0;
color:initial;
text-align:center;
font-size:18px;
font-weight:700;
margin-bottom: 10px;
margin-top: 5px;

}

#blobBox_container tr td.plainlist {
padding-left:5px;
padding-right:5px
}

#blobBox_container tr td.plainlist li,#blobBox_container .hlist li {
list-style-type:none
}

#blobBox_container tr td.plainlist li:last-child,#blobBox_container .hlist li:last-child,#blobBox_container li:last-child {
border-bottom:none
}

#blobBox_container li:last-child {
border-bottom:none
}

#blobBox_container li {
list-style-type:none
}

#blobBox_container td.label {
font-size:100%!important;
text-align:left;
font-weight:400;
display:block;
line-height:inherit
}

#blobBox_container div.geonugget,#blobBox_container div.geonugget * {
max-width:initial!important
}

#blobBox_container div.geonugget img {
float:none;
width:auto
}

#blobBox_container .NavFrame,#blobBox_container .NavHead,#blobBox_container .NavContent {
padding:3px!important;
text-align:center!important
}

#blobBox_container .NavFrame .NavToggle {
display:none
}

#blobBox_container .infobox table {
width:100%!important;
float:left;
overflow:hidden
}

#blobBox_container .infobox table tr {
border-bottom:inherit!important
}

#blobBox_container .infobox table tr td {
max-width:100%;
padding-top:inherit!important;
padding-bottom:inherit!important;
vertical-align:middle
}

#blobBox_container .infobox table td {
padding-left:inherit!important
}

#blobBox_container table.ep-blobbox-table th {
border-right:inherit!important
}

#blobBox_container .label{
display: initial;
padding: initial;
line-height: initial;
vertical-align: initial;
text-align: initial;
font-weight: initial;
font-size: 14px;
color: #666;
}

</style>