<style>

    .vjs-default-skin .vjs-big-play-button {
    left: 40%;
    top: 40%;
    width: 20%;
    height: 20%;
}

@media only screen and (max-width:565px) {
	.vjs-default-skin .vjs-big-play-button {left:25%;top:25%;width:50%;height:50%;}
}
@media only screen and (min-width:565px) and (max-width:992px) {
	.vjs-default-skin .vjs-big-play-button {left:25%;top:25%;width:50%;height:50%;font-size:5em;}
}

.vjs-icon-play:before, .video-js .vjs-big-play-button:before, .video-js .vjs-play-control:before{
    font-size: 55px;
    top: 25%;
}



</style>