<style>

    .infobox .info-qt
{
	text-align:right
}

.fb-page,.fb-page iframe[style],.fb-page span
{
	width:100%
}

#mobilepanel.gallery-tileset
{
	margin-left:0
}

#mobilepanel.gallery-tileset div.row
{
	margin-left:0
}

#abt-ct #mobilepanel
{
	padding:0!important
}

@media (min-width: 768px) {
	.navbar-toggle
	{
		display:block
	}

	.navbar-nav
	{
		width:100%;
		float:left;
		margin:0
	}

	.navbar-inverse .navbar-collapse
	{
		background-color:#FFF;
		text-align:center;
		width:auto;
		display:none!important;
		margin:6px -15px 0;
		padding:0 15px
	}

	.navbar-collapse.collapse.in
	{
		display:block!important
	}

	header .global-search
	{
		display:block!important
	}

	.navbar-header
	{
		float:none
	}

	.navbar-nav > li
	{
		float:none
	}

	.container
	{
		width:auto
	}

{#	.hidden-sm#}
{#	{#}
{#		display:inherit!important#}
{#	}#}

	#indexresult .ajax_blurb
	{
		width:90%
	}

	.panel-default
	{
		border:none
	}
}

@media (min-width: 565px) {
	header .global-search
	{
		width:100%;
		float:left;
		margin-top:2px
	}

	.global-search form.search
	{
		float:left;
		width:85%
	}

	.tab-content .mobile-genius ol li
	{
		margin-top:4px;
		float:left;
		width:100%;
		margin-bottom:8px
	}

	.tab-content .mobile-genius ol
	{
		margin-top:10px;
		margin-bottom:5px;
		float:left;
		width:100%;
		list-style:none
	}

	.ref_link_description.hidden-sm
	{
		display:block!important;
		font-size:16px
	}

	/*.hidden-xs*/
	/*{*/
		/*display:none!important*/
	/*}*/

	.social-profiles
	{
		text-align:center
	}

	.social-profiles img
	{
		max-width:50px;
		max-height:50px;
		min-width:50px;
		min-height:50px
	}

	.edithistory-ct.linkedithistory-ct .link-box-mobile
	{
		width:85%!important
	}

	#searchfield_index.global-search form.search
	{
		float:none
	}

	#indexresult .ajax_blurb
	{
		width:85%
	}

	#profile-links-title
	{
		text-align:center;
		font-size:20px;
		font-weight:normal;
	}

	h5#mobiletitle
	{
		font-size:24px;
        font-weight:normal;
	}

	.infobox .info-qt,.infobox .info-an
	{
		font-size:16px
	}

	#body-ct .link-box .link-comment
	{
		font-size:15px
	}

	#body-ct .link-box-details
	{
		font-size:13px
	}

	ul.nav.navbar-nav.mbl-dropdown-hdr li a,#index_header .navbar-nav li:not(.unique-style) a
	{
		font-size:16px
	}

	.nav-tabs > li > a
	{
		font-size:14px
	}

	.bio-ct-infobox ul li
	{
		font-size:17px;
		line-height:1.2;
		padding:3px
	}

	.bio-ct-infobox ul li span.infobox-item-name
	{
		font-size:18px
	}

	.bio-ct-infobox .remove_icon
	{
		width:15px;
		height:15px
	}

	.bio-ct-infobox h5
	{
		font-size:20px!important;
		font-weight:700
	}

	#edit-ct #edit_remove
	{
		font-size:16px
	}

	.topic-select-instructions
	{
		font-size:16px
	}

	#edit-ct .col-md-3 input[type="text"]
	{
		font-size:17px
	}

	.edit-tips .edit-tips-text
	{
		font-size:15px
	}

	.edit-tips .edit-tips-header
	{
		font-size:17px
	}

	#edit_tip_container .btn-group-sm > .btn
	{
		font-size:16px
	}

	#pagemeta-box-wrapper .page_type select, #pagemeta-box-wrapper .sub_page_type select,
    #pagemeta-box-wrapper .page_lang select
	{
		margin:5px 0;
		font-size:17px;
		padding:5px 3px;
		line-height:35px;
		height:35px
	}

	.tab-content ul.mobile-template-activity li span.link-date-mobile
	{
		display:none
	}

	.tab-content ul.mobile-template-activity li
	{
		padding:5px 0;
		font-size:15px;
		float:left;
		width:100%;
		list-style:none
	}

	.tab-content ul.mobile-template-activity .trending_avatar
	{
		border-radius:35px;
		float:left;
		width:45px;
		height:45px
	}

	.tab-content .mobile-genius .genius-avatar
	{
		border-radius:35px;
		display:block;
		float:left;
		width:48px;
		height:48px;
		position:relative;
		margin-right:10px;
		margin-left:0
	}

	.linklist-header .bio-stats span
	{
		font-size:16px;
		margin-bottom:10px;
		float:left
	}

	#body-ct .link-box-left #vote_value
	{
		font-size:15px
	}

	#body-ct .link-box .link-box-url
	{
		font-size:15px;
		line-height:1.3
	}

	.linklist-header #custom-search-input .search-query
	{
		width:95%;
		font-size:14px;
        line-height:14px;
	}

	.search-ct .searchresult-row .search_avatar
	{
		width:65px;
		height:65px;
		float:left;
		border-radius:0 0 0 4px
	}

	.search-ct h4
	{
		line-height:1.6;
		margin-bottom:13px
	}

	.search-ct .searchresult-row .search_name
	{
		padding-right:5px;
		min-height:22px!important;
		height:22px!important
	}

	.searchresult-right-container
	{
		max-height:84px!important;
		overflow:hidden;
		font-size:12px;
		line-height:1.15;
		margin-left:0!important
	}

	.searchresult-right-container .search_blurb
	{
		max-height:81px!important;
		font-size:13px!important;
		float:left;
		width:auto!important
	}

	.search-ct .searchresult-row .mobile-search-spacer
	{
		margin-top:0;
		margin-bottom:0;
		height:1px;
		background-color:#DBDDDF
	}

	.register-ct .tos-class
	{
		font-size:14px
	}

	.everi_footer ul li
	{
		font-size:16px
	}

	#mobilefooter
	{
		font-size:14px
	}

	#body-ct .link-search input[type="text"]
	{
		font-size:14px
	}

	.edit-tips-text .btn-sm
	{
		font-size:15px
	}

	.blurb-archive-container div.blurb-archive-selector
	{
		font-size:14px
	}

	.index-search-ct .global-search form.search
	{
		width:100%
	}
}

@media (max-width: 768px) and (min-width: 565px) {
	.index-grid a
	{
		height:136px;
		min-height:auto;
		width:20%
	}
}

@media (max-width: 565px) and (min-width: 400px) {
	.index-grid a
	{
		height:120px;
		min-height:auto;
		width:25%
	}

	.social-profiles
	{
		text-align:center
	}

	.social-profiles img
	{
		max-width:40px;
		max-height:40px;
		min-width:40px;
		min-height:40px
	}

	#profile-links-title
	{
		text-align:center;
		font-size:20px;
		font-weight:normal;
	}
}

@media (max-width: 565px) {
	.everi_footer ul li
	{
		font-size:13px
	}

	#linkview-ct .addcomment-ct .postcomment
	{
		margin-left:0;
		margin-right:0
	}

	.lg-outer.lg-pull-caption-up.lg-thumb-open .lg-sub-html
	{
		font-size:14px;
		line-height:1.3
	}
}


@media (max-width: 992px) {
	#body-ct .linklist-header .col-xs-12{
		padding: 0px;
	}

    .linkview-ad-container{
        margin-left: -5px;
    }

    .linkview-ad-container > div.ad-300x250 {
        min-height: 270px;
        padding: 5px 0px 10px !important;
        margin-bottom: 30px !important;
        margin: 0 auto;
	}

	#link_list_container .link-date
	{
		margin-left:0!important
	}


	.post-ct .hidden-break
	{
		display:none !important;
	}

	.linkview-container .subcontainer
	{
		padding:0!important
	}

	#mobilelinkpanel.loggedin
	{
		margin-left:0;
		padding:0 5px 0 10px !important
	}

	#link_list_container.container
	{
		padding-left:0;
		padding-right:5px
	}

{#	#link_list_container.container.loggedin#}
{#	{#}
{#		padding-left:15px#}
{#	}#}

	.bio-stats-container
	{
		padding-left:0
	}

	.prf-lnk-ct
	{
		padding-left:0;
		padding-right:0
	}

	#body-ct .link-box .link-box-url
	{
		font-size:13px;
	}

	#indexresult ul
	{
		margin-top:0;
		border-radius:0 0 3px 3px;
		position:relative;
		width:100%
	}

}



</style>