<style>
    .navbar .amp-header-search{
        display: none;
        float: left;
    }

    .navbar .amp-header-search button{
        background: none;
        border: none;
        padding: 7px 0px 5px 0px;
        cursor: pointer;
    }

    .navbar .amp-header-search button svg{
        fill: #888888;
    }


    .right-login-area.navbar-nav {
        width: auto;
        float: right;
        margin: 0;
        padding-right: 0px;
    }

    .right-login-area.navbar-nav > li {
        float: left;
    }


    @media (min-width: 1260px) {
        .hidden-lg {
            display: none !important;
        }
    }

    .name-ct .micro-image-top{
        display: inline;
        height: 1px;
    }

    .navbar-nav > li > a.app-notifications{
        padding-top: 10px;
    }

    @media (max-width: 768px){
        .bioheadtwenty .name-icons{
            height: auto;
        }

        .name-ct #main-heading-id{
            margin-bottom: 0px;
        }
        .navbar-nav .open .dropdown-menu {
            position: absolute;
            background-color: white;
            left: -180px;
            -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
            box-shadow: 0 6px 12px rgba(0,0,0,.175);
        }
        #template-genius-lightbox.top-page-geniuses-modal .blurb-compare-hoverbox {
            overflow: hidden;
            width: 76%;
            left: 6%;
            padding: 10px 35px 35px 35px;
            height: 210px;
            border-radius: 0;
        }

        .cbp-spmenu-push-toright .navbar .get-an-account-line {
            display: none;
        }

        .cbp-spmenu-push-toright .navbar .amp-header-search{
            display: inline-block;
        }

        .cbp-spmenu-push-toright .navbar #custom-search-input{
            display: none;
        }

        .cbp-spmenu{
            width: 150px !important;
        }

       .cbp-spmenu-push-toright .container.desktop-container{
            padding: 0;
        }

       .cbp-spmenu-push-toright .app-navbar{
            margin-left: 150px !important;
        }

        .app-navbar .container{
            width: 80%;
        }

        .right-login-area.navbar-nav{
            margin-right: 5px;
        }
    }

    @media (max-width: 680px){
{#        .app-notifications .icon:before{#}
{#            font-size: 12px !important;#}
{#        }#}
        .app-navbar .container{
            width: calc(100% - 15%);
            margin-right: 2.5% !important;
            margin-left: 45px;
        }


        .cbp-spmenu-push-toright .app-navbar .container {
            width: calc(100% - 22.5%);
{#            margin-right: 2.5%;#}
            margin-left: 55px;
        }

        #showLeft{

        }

    }

     @media (max-width: 600px){


        .nav-textlinks{
            display: none !important;
        }
        .navbar .get-an-account-line{
            display: none;
        }
    }

    @media (max-width: 530px){
        .cbp-spmenu-push-toright .navbar #custom-search-input{
            width: 47% !important;
        }

        .cbp-spmenu-push-toright .navbar-nav > li > a.app-notifications{
            display: none;
        }

        .nav-textlinks{
            display: none !important;
        }
    }
    @media (max-width: 490px) {
        .navbar #custom-search-input {
          display: none;
        }

        .navbar .amp-header-search{
            display: inline-block;
        }
      }

    @media (max-width: 460px) {

        .navbar #custom-search-input{
            display: none;
        }




    }




{#    .right-login-area.navbar-nav > li.avatar-iq{#}
{#        float: none;#}
{#    }#}

    #custom-search-input .input-group{
        width: 100%;
    }

</style>