<style>
@media (min-width: 768px) {
.app-navbar {
/* box-shadow: 0 2px 2px -2px rgba(0,0,0,.15); */
background: #fafafa;
border-bottom: 1px solid #ebebeb !important;
padding-top: 24px;
max-height: 100px;
height: 100px;
}
}

body {
    float: left;
    width: 100%;
}

.versioning-container {
    margin-bottom: 5px;
    padding: 0px;
    margin-top: 135px;
    width: 80%;
    margin-left: 0px;
    margin-right: 0px;
    float: right;
}

.versioning-container table{
table-layout: fixed;
width: 100%;
font-family: 'Poppins', Helvetica, Arial !important;
font-size: 15px;

}

.place-votes-header, .vote-input-box, .place-votes-btn-rows{
    display: none;
}

.changes-toc{
    width: 20%;
    float: left;
    height: 100%;
    background: #4c4c4c;
    top: 70px;
    color: white;
    position: fixed;
}

.versioning-container table.diff{
    background-color: white;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    border: none;
}

.versioning-container table.diff colgroup:nth-child(1){
    border-left: none;
    border-right-color: lightgrey;
}

.versioning-container table.diff colgroup:nth-child(2){
    border: none;
}

.versioning-container table.diff colgroup:nth-child(3){
    border: none;
}

.versioning-container table.diff tbody{
    border: none;
}

.versioning-container table.diff tbody tr:last-child, .versioning-container table.diff tbody tr:last-child td{
    border-bottom: none;
}

.versioning-container table.header-table {
    font-size: 17px;
    margin-bottom: 5px;
    top: 70px;
    position: fixed;
    background: #ffffff;
    height: 40px;
    border-bottom: 1px solid #ebebeb !important;
    z-index: 5;
    width: 80%;
}

.versioning-container table.header-footer{
    font-size: 14px;
    margin-top: 5px;
    font-style: italic;
}

.versioning-container table.header-table .table-header-row{
    visibility: visible;
}

.versioning-container table.header-table .table-header-row th.arrow-container{
    width: 50px;
    text-align: center;
}

.versioning-container table.header-table .table-header-row th.arrow-container > span{
    font-size: 40px;
    position: relative;
    top: 7px;
}


.versioning-container table.header-table .ipfs-hash-row{
    text-align: center;
}

.versioning-container table.header-table .restore-button{
    background-color: #71b8e3;
    color: white;
    font-size: 11px;
    padding: 3px 8px 3px 8px;
    font-weight: normal;
    border-radius: 2px;
    cursor: pointer;
}

.versioning-container table.header-table .restore-button:hover{
    background-color: #61c1f0;
}

.versioning-container table .diff_next, .versioning-container table .diff_header{
width: 13px;
padding: 2px;
border-bottom: 1px dotted #ccc;
background: none;
display: none;
}

.versioning-container table .diff_header{
background-color:  #71b8e3 ;
color: white;
}






.versioning-container table .diff_next, .versioning-container table[summary="Links"]{
visibility: hidden;
}

.versioning-container table[summary="Legends"] td, .versioning-container table[summary="Legends"] th{
visibility: hidden;
display: none;
}

.versioning-container table.legend{
width: 7%;
margin-top: 5px;
}

.versioning-container table.legend td, .versioning-container table.legend th{
padding: 1px;
text-align: center;
width: 10%;
}

.versioning-container table td[nowrap="nowrap"]{
white-space: normal;
word-break: break-all;
border-bottom: 1px dotted #ccc;
padding: 5px;
line-height: 1.3em;
width: 50%;
}

.diff_add {
    font-weight: bold;
    background-color: #aaffaa !important;
    padding: 2px 5px 2px 5px !important;
    border-radius: 3px !important;
}

.diff_chg {
    font-weight: bold;
    background-color: #ffea73 !important;
    padding: 2px 5px 2px 5px !important;
    border-radius: 3px !important;
}

.diff_sub {
    font-weight: bold;
    background-color: #ff991d !important;
    padding: 2px 5px 2px 5px !important;
    border-radius: 3px !important;
}

.diff_add:before, .diff_chg:before, .diff_sub:before {
    display: inline-block;
    content: " ";
    margin-top: -152px;
    height: 152px;
    visibility: hidden;
}


.changes-toc .heading-collection{
    overflow-y: scroll;
    -ms-overflow-style: none;
    width: 100%;
    height: 100%;
    padding-right: 0;
}

.changes-toc .toc-vote-box{
    background: white;
    float: left;
    color: #333;
    text-align: center;
    list-style: none;
    width: 100%;
    display: flex;
}
.changes-toc .toc-vote-box .redirect-row{
    width: 100%;
    display: inline-table;
}

.changes-toc .toc-vote-box .redirect-row span.icon{
    margin-right: 5px;
    float: none;
    font-size: 17px;
}

.changes-toc .toc-vote-box .redirect-row > td {
    font-weight: bold;
    font-size: 18px;
    background: #f6f6f6;
    display: table-cell;
    height: 100%;
    line-height: 35px;
}

.changes-toc .toc-vote-box .redirect-row > td a{
    color: #777;
    float: left;
    text-decoration: none;
    text-align: center;
    width: 100%;
    padding-top: 2px;
}

.changes-toc .toc-vote-box .redirect-row > td a:hover{
    background: #ebebeb;
}

.changes-toc .toc-vote-box .voting-head{
    width: 100%;
}

.changes-toc .toc-vote-box .voting-head .icon-cycle{
    float: right;
    position: relative;
    top: 2px;
    right: 7px;
    margin-left: -18px;
    cursor: pointer;
}

.changes-toc .toc-vote-box .voting-head .icon-cycle:hover{
    color: #d9d9d9;
}

.changes-toc .toc-vote-box .vote-inl-tbl{
    display: inline-table;
}

.changes-toc .toc-vote-box .voting-head > td {
    width: 100%;
    font-weight: bold;
    font-size: 18px;
    color: white;
    background: #3097d1;
    display: inline-table;
}

.changes-toc .toc-vote-box .tally-label{
    width: 100%;
    display: inline-table;
}

.changes-toc .toc-vote-box .tally-label > th {
    width: 50%;
    text-align: center;
    font-size: 15px;
    color: #0068a3;
    background: #e1e8ed;
}

.changes-toc .toc-vote-box .tally-row{
    width: 100%;
    float: left;
    font-size: 17px;
}

.changes-toc .toc-vote-box .voting-timer, .changes-toc .toc-vote-box .voting-period{
    width: 100%;
    float: left;
    color: #333;
}

.changes-toc .toc-vote-box .voting-timer .vote-timer-label,
.changes-toc .toc-vote-box .voting-period .vote-period-label{
    width: 100%;
    display: flex;
}

.changes-toc .toc-vote-box .voting-period .vote-period-wrap{
    border-top: 1px solid #ebebeb !important;
}

.changes-toc .toc-vote-box .voting-timer .vote-timer-wrap,
.changes-toc .toc-vote-box .voting-period .vote-period-wrap{
    width: 100%;
    font-size: 16px;
    border-bottom: 1px solid #ebebeb !important;
    padding: 5px 0px;
}

.changes-toc .toc-vote-box .voting-period .vote-period-label .period-to{
    font-weight: bold;
}

.changes-toc .toc-vote-box .voting-timer .vote-timer-label .timer-left,
.changes-toc .toc-vote-box .voting-period .vote-period-label .period-start,
.changes-toc .toc-vote-box .voting-period .vote-period-label .period-to{
    display: inline-block;
    width: 100%;
}

.changes-toc .toc-vote-box .voting-timer .vote-timer-label .timer-right
.changes-toc .toc-vote-box .voting-period .vote-period-label .period-end{
    display: inline-block;
}

.changes-toc .toc-vote-box .tally-row.tally-percent{
    /*border-top: 1px solid #4a4a4a;*/
    /*border-bottom: 1px solid #4a4a4a;*/
}

.changes-toc .toc-vote-box .tally-row .reject-tally,
.changes-toc .toc-vote-box .tally-row .accept-tally{
    width: 50%;
    margin-top: 3px;
}

.changes-toc .toc-vote-box .tally-row .reject-tally {
    color: #cb1616;
    float: left;
}

.changes-toc .toc-vote-box .tally-row .accept-tally {
    color: #008708;
    float: right;
}

.changes-toc .toc-vote-box .vote-label{
    font-size: 20px;
    position: relative;
    width: 100%;
    float: left;
}

.changes-toc .toc-vote-box .vote-input-box{
    width: 100%;
    margin-top: 10px;
}

.changes-toc .toc-vote-box .vote-label > td,
.changes-toc .toc-vote-box .vote-input-box > td{
    width: 100%;
    display: block;
}

.changes-toc .toc-vote-box .vote-input{
    font-size: 16px;
    padding: 0px 0px 0px 5px;
}

.changes-toc .toc-vote-box .button-row{
    margin-top: 10px;
    width: 100%;
    text-align: center;
    font-size: 22px;
    float: left;
}

.changes-toc .toc-vote-box .vote-btn {
    background: white;
    padding: 7px;
    font-size: 17px;
    font-weight: bold;
    /* -webkit-box-shadow: 3px 3px 4px 0px rgba(196,196,196,1); */
    /* -moz-box-shadow: 3px 3px 4px 0px rgba(196,196,196,1); */
    /* box-shadow: 3px 3px 4px 0px rgba(196,196,196,1); */
}

.changes-toc .toc-vote-box .reject-vote{
    background: #ff000073;
    color: #5c0000;
    width: 50%;
}

.changes-toc .toc-vote-box .reject-vote:hover{
    background: rgba(255, 0, 0, 0.29);
    cursor: pointer;
}

.changes-toc .toc-vote-box .accept-vote{
    background: #19b31987;
    color: #013d01;
    width: 50%;
}

.changes-toc .toc-vote-box .accept-vote:hover{
    background: rgba(25, 179, 25, 0.36);
    cursor: pointer;
}

.changes-toc .heading-collection .toc-heading-box {
    height: 50px;
    color: white;
    text-align: center;
    font-size: 22px;
    line-height: 50px;
    font-weight: bold;
    list-style: none;
    float: left;
    width: 100%;
    background: #4a4a4a;
}

.changes-toc .heading-collection li.toc-line-item {
    font-size: 16px;
    list-style-type: none;
    font-weight: 300;
    border-top: 1px solid #666;
    float: left;
    width: 100%;
    padding: 5px 0px 5px 7px;
    word-break: break-all;
    max-height: 90px;
    text-overflow: ellipsis;
    line-height: 17px;
    overflow-y: hidden;
}

.changes-toc .heading-collection li.toc-line-item:hover {
    background-color: #323232;
}

.changes-toc .heading-collection li.toc-line-item a {
    color: white;
    text-decoration: none;
    float: left;
    display: inline-block;
    width: 100%;
}




</style>